{% extends 'base.html.twig' %}

{% block title %}Gestión de Comentarios{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Gestión de Comentarios</h1>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Post</th>
                        <th>Comentario</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.id }}</td>
                            <td>{{ comment.user.username }}</td>
                            <td>Post #{{ comment.post.id }}</td>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.createdAt|date('d/m/Y H:i') }}</td>
                            <td>
                                <form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('¿Estás seguro que deseas eliminar este comentario?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}