{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feed</h1>

    {% if posts is empty %}
        <p>No hay publicaciones disponibles.</p>
    {% else %}
        {% for post in posts %}
            <div>
                <h3>{{ post.user.username }}</h3>
                <p>{{ post.description }}</p>
                <img src="{{ asset(post.image) }}" alt="Imagen del post">
                <p>Likes: {{ post.likes }}</p>
                <p>Fecha: {{ post.date|date('d/m/Y') }}</p>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
