{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<h1>{{user.username}}</h1>

	{% for post in user.posts %}
		<div>
			<img src="{{ asset('assets/images/' ~ post.getImage()) }}" alt="{{ post.getDescription() }}"/>
			<p>Likes:
				{{ post.getLikes() }}</p>
			<p>{{post.getUser().getUsername()}}{{post.getDescription()}}</p>
		</div>
	{% endfor %}

	{# <a href="{{ path('app_user_index') }}">back to list</a>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

	{{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
